@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #171717;
}

.test {
    border : 1px solid rgba(255, 0, 0, .3) !important;
    margin: 5%;
    border-radius: 8px !important;
    background-color: rgba(25, 25, 25, 1) !important;
    color: white !important;
    font-family: "DM Sans";
    font-size: 15px;
}